html
{
  font-size: 1.2rem !important;
}

*{
  text-decoration: none !important;
}

input {
  box-shadow: none !important;
}

p{
  padding: 0!important;
  margin: 0 !important;
}

.card 
{
  animation: fade-bg alternate  ease-in-out;
}



